%article.video
  .container-fluid
    .row
      .video_large_cover.col-md-7.col-sm-offset-1  
        -if youtube?(@video)
          %iframe(width = "675" height = "375" src = "#{@video.video_url}" frameborder = "0" allowfullscreen)
        -else
          %video(width = "675" height = "375" controls src = "#{@video.video_url}" poster = "#{@video.large_cover}" Your browser does not support html5)
        
      .video_info.col-md-3
        %header
          %h3.lead 
          =@video.title 
          %br
          %span Rating: #{@rating_average} /5.0
          %br
          %span #{@review_total} reviews
        %p
        =@video.description
        %br
        %hr
        .actions
          -if !current_user.video_in_user_queue?(@video.id)
            =link_to "+My Queue", user_queue_items_path(current_user, video_id: @video.id), method: :post, class: "btn btn-success"
          -else
            %br 
            %br
            %p
              =link_to "Video Is In Your Queue", user_queue_items_path(current_user)
            %br
          - if current_user.admin
            %p 
              =link_to "Edit Video", edit_admin_video_path(@video)
            %p
              =link_to "Delete Video",admin_video_path(@video), method: :delete
              

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      -if logged_in?
        = render 'reviewform' 
      %header
        %h3 User Reviews (#{@review_total}) 
      %ul
        - @video.reviews.first(8).each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating}/ 5.0
                %p by 
                =link_to review.user.full_name, review.user
                %p.small 
                  on #{review.updated_at}
                %p
                  -if review.user ==current_user
                    =link_to "edit review", edit_video_review_path(@video,review)
                    %p
                    =link_to "delete review", video_review_path(@video,review), method: :delete

              .col-sm-8
                =review.content if review.content

                        
