%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        =image_tag(@video.large_cover_url, size: "675x375")
      .video_info.col-sm-3
        %header
          %h3.lead 
          =@video.title 
          %br
          %span Rating: #{@rating_average} /5.0
          %br
          %span #{@review_total} reviews
        %p
        =@video.description
        %br
        %hr
        .actions
          %a.btn.btn-primary(href="") Watch Now
          -if !current_user.video_in_user_queue?(@video.id)
            =link_to "+My Queue", user_queue_items_path(current_user, video_id: @video.id), method: :post, class: "btn btn-success"
          -else
            %br 
            %br
            %p
              =link_to "Video Is In Your Queue", user_queue_items_path(current_user)
              

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      -if logged_in?
        = render 'reviewform' 
      %header
        %h3 User Reviews (#{@review_total}) 
      %ul
        - @video.reviews.first(8).each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating}/ 5.0
                %p by 
                =link_to "#{review.user.full_name}", user_path(review.user)
                %p.small 
                  on #{review.updated_at}
                %p
                  -if review.user ==current_user
                    =link_to "edit review", edit_video_review_path(@video,review)
                    %p
                    =link_to "delete review", video_review_path(@video,review), method: :delete

              .col-sm-8
                =review.content if review.content

                        
